{{!-- {{#if childVolunteer}} --}}

</br>

<div class="box">
    <h2 class="title has-text-centered">Medical Permission to administer the following, press yes if approved, no if
        denied.</h2>
    <div class="columns">
        <div class="container column is-one-quarter">
            <div class="field">
                <label class="label has-text-centered">Aspirin</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="aspirin" value="yes">
                                Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="aspirin" value="no">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Benadryl</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="benadryl" value="yes">
                                Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="benadryl" value="no">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Dramamine</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="dramamine" value="yes">
                                Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="dramamine" value="no">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container column is-one-quarter">
            <div class="field">
                <label class="label has-text-centered">Ibuprofen</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="ibuprofen" value="yes">
                                Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="ibuprofen" value="no">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Imodium</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="imodium" value="yes">
                                Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="imodium" value="no">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Neosporin</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="ont_neosporin" value="yes">
                                Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="ont_neosporin" value="no">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container column is-one-quarter">
            <div class="field">
                <label class="label has-text-centered">Pepto-bismol</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="pepto_bismol" value="yes">
                                Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="pepto_bismol" value="no">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Robitussin</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="robitussin" value="yes">
                                Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="robitussin" value="no">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Sudafed</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="sudafed" value="yes">
                                Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="sudafed" value="no">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container column is-one-quarter">
            <div class="field">
                <label class="label has-text-centered">Sunscreen</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="ont_sunscreen" value="yes">
                                Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="ont_sunscreen" value="no">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Tums</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="tums" value="yes">
                                Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="tums" value="no">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Tylenol</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="tylenol" value="yes">
                                Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="tylenol" value="no">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <label class="label">Does your child have any doctor-prescribed medication that will need to be administered
        by the camp nurse?</label>
    <textarea class="textarea" name="camp_administered_rx" placeholder="Other Medication to be administered by camp nurse."></textarea>
</div>


{{!-- {{/if}} --}}



{{#if participant}}

</br>

<div class="box">
    <h2 class="title has-text-centered">Medical Permission to administer the following, press yes if approved, no if
        denied.</h2>
    <div class="columns">
        <div class="container column is-one-quarter">
            <div class="field">
                <label class="label has-text-centered">Aspirin</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="aspirin_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="aspirin_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Benadryl</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="benadryl_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="benadryl_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Dramamine</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="dramamine_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="dramamine_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container column is-one-quarter">
            <div class="field">
                <label class="label has-text-centered">Ibuprofen</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="ibuprofen_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="ibuprofen_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Imodium</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="imodium_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="imodium_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Neosporin</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="neosporin_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="neosporin_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container column is-one-quarter">
            <div class="field">
                <label class="label has-text-centered">Pepto-bismol</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="pepto_bismol_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="pepto_bismol_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Robitussin</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="robitussin_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="robitussin_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Sudafed</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="sudafed_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="sudafed_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container column is-one-quarter">
            <div class="field">
                <label class="label has-text-centered">Sunscreen</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="sunscreen_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="sunscreen_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Tums</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="tums_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="tums_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Tylenol</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="tylenol_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="tylenol_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <label class="label">Does your child have any doctor-prescribed medication that will need to be administered
        by the camp nurse?</label>
    <textarea class="textarea" name="camp_administered_rx" placeholder="Other Medication to be administered by camp nurse."></textarea>
</div>

{{/if}}


{{#if boy}}

</br>

<div class="box">
    <h2 class="title has-text-centered">Medical Permission to administer the following, press yes if approved, no if
        denied.</h2>
    <div class="columns">
        <div class="container column is-one-quarter">
            <div class="field">
                <label class="label has-text-centered">Aspirin</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="aspirin_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="aspirin_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Benadryl</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="benadryl_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="benadryl_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Dramamine</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="dramamine_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="dramamine_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container column is-one-quarter">
            <div class="field">
                <label class="label has-text-centered">Ibuprofen</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="ibuprofen_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="ibuprofen_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Imodium</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="imodium_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="imodium_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Neosporin</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="neosporin_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="neosporin_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container column is-one-quarter">
            <div class="field">
                <label class="label has-text-centered">Pepto-bismol</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="pepto_bismol_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="pepto_bismol_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Robitussin</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="robitussin_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="robitussin_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Sudafed</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="sudafed_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="sudafed_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container column is-one-quarter">
            <div class="field">
                <label class="label has-text-centered">Sunscreen</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="sunscreen_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="sunscreen_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Tums</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="tums_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="tums_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-centered">Tylenol</label>
                <div class="field-body">
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="tylenol_yes">
                                Yes
                            </label>
                            {{!-- <label class="radio">
                                <input type="radio" name="tylenol_no">
                                No
                            </label> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <label class="label">Does your child have any doctor-prescribed medication that will need to be administered
        by the camp nurse?</label>
    <textarea class="textarea" name="camp_administered_rx" placeholder="Other Medication to be administered by camp nurse."></textarea>
</div>

{{/if}}