<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registration</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css" />
  <link rel="stylesheet" href="/index.css" />



</head>

<body>
  {{!-- <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <img id="logo" src="/images/girlscouts.jpg">
    </div>


    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light">
            Logout
          </a>
        </div>
      </div>
    </div>
  </nav> --}}

  {{{body}}}
  <script src="onclick.js"></script>
  {{!-- <img src="/images/Trees.jpg" class="Trees"></img> --}}

  <script src="/onclick.js"></script>
</body>

</html>