<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registration</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css" />
  <link
      rel="stylesheet"
      href="index.css"
    />


</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="http://www.maplevalleydaycamp.com">
      <img id="imgSource" src="/images/girlscouts.jpg" >
    </a>

    
  </div>

  
  
</nav>

  {{{body}}}
</body>

</html>