<section class="section">
    <div class="container">
        <div class="columns is-moblie">
            <div class="column is-half is-offset-one-fifth">
                <h1 class="title">
                    Please enter your information for registration below.
                </h1>
                <br>
                <div>
                    <div>
                        <h3>First Name</h3>
                    </div>
                    <input class="input column" type="text" placeholder="John" />
                    <div>
                        <h3>Last Name</h3>
                    </div>
                    <input class="input column" type="text" placeholder="Smith" />
                </div>
                <div>
                    <div>
                        <h3>Address</h3>
                    </div>
                    <input class="input column" type="text" placeholder="12345 Placeholder Ave">
                </div>
            </div>
        </div>
    </div>
</section>