<link
      rel="stylesheet"
      href="decider.css"
    />
<section class="section">
    <div class="container">
        <div class="columns is-moblie">
            <div class="column is-one-third">
                <h2 class="title">
                    quick info on volunteer.
                </h2>
                <button class="button is-outlined"><a href=volunteer.html>Volunteer</a></button>
            </div>
            <div class="column is-one-third">
                <h2 class="title">
                    quick info on camper volunteer.
                </h2>
                <button class="button is-outlined">Camper Volunteer</button>
            </div>
            <div class="column is-one-third">
                <h2 class="title">
                    quick info on camper.
                </h2>
                <button class="button is-outlined"><a href="camper.html">Camper</a></button>
            </div>
        </div>
    </div>
</section>