<div>
    {{> navbar/navbar}}
</div>

<form action="/api.health.history/register/:{{regId}}" method="post">
    <div class="columns">
        <div class="column is-1"></div>
        <div class="column">
            </br>
            <div class="field">
                <div class="box">
                    <h1 class="title has-text-centered">Health History</h1>
                </div>
                <div class="box">
                    <h2 class="title has-text-centered">Chronic Illness, please select yes to those that apply.</h2>
                    <div class="columns">
                        <div class="container column is-one-quarter">
                            <div class="field">
                                <label class="label has-text-centered">Asthma</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="ci_asthma" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ci_asthma" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-centered">Bleeding or Clotting Disorder</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="ci_blood_disorder" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ci_blood_disorder" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container column is-one-quarter">
                            <div class="field">
                                <label class="label has-text-centered">Diabetes</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="ci_diabetes" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ci_diabetes" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-centered">Ear Infection</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="ci_ear_infection" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ci_ear_infection" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container column is-one-quarter">
                            <div class="field">
                                <label class="label has-text-centered">Heart defect or Heart disease</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="ci_heart" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ci_heart" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-centered">Hypertension</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="ci_hypertension" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ci_hypertension" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container column is-one-quarter">
                            <div class="field">
                                <label class="label has-text-centered">Muskuloskeletal disorder</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="ci_muskuloskeletal_disorder" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ci_muskuloskeletal_disorder" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-centered">Seizures</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="ci_seizures" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ci_seizures" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <h2 class="title has-text-centered">Since last medical exam has the participant had:</h2>
                    <div class="columns">
                        <div class="container column is-one-quarter">
                            <div class="field">
                                <label class="label has-text-centered">Are all immunizations up to date?</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="immunization_utd" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="immunization_utd" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-centered">Any restrictions concerning physical
                                    activity?</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="inj_physical_restriction" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="inj_physical_restriction" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container column is-one-quarter">
                            <div class="field">
                                <label class="label has-text-centered">Any exposure to a contagious disease?</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="ill_exposed" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ill_exposed" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-centered">A surgical procedure?</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="inj_recent_surgery" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="inj_recent_surgery" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container column is-one-quarter">
                            <div class="field">
                                <label class="label has-text-centered">Any prescribed or over the counter
                                    medications?</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="ill_medication" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ill_medication" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-centered">Treatment in a hospital or emergency?</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="inj_recent_hospital_er" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="inj_recent_hospital_er" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container column is-one-quarter">
                            <div class="field">
                                <label class="label has-text-centered">Serious injury or fracture requiring medical
                                    attention?</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="inj_recent_injury_fracture" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="inj_recent_injury_fracture" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <label class="label has-text-centered">An illness lasting more than five days?</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="ill_prolonged" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ill_prolonged" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <label class="label">If you answered yes to any of the above please explain:</label>
                    <textarea class="textarea" name="ci_ill_inj_detail"
                        placeholder="Recent Health information"></textarea>
                </div>
                <div class="box">
                    <h2 class="title has-text-centered">Allergies, please select yes to those that apply.</h2>
                    <div class="columns">
                        <div class="container column is-one-quarter">
                            <div class="field">
                                <label class="label has-text-centered">Animals</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="all_animals" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="all_animals" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-centered">Food</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="all_foods" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="all_foods" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container column is-one-quarter">
                            <div class="field">
                                <label class="label has-text-centered">Hayfever</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="all_hayfever" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="all_hayfever" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-centered">Insect Stings</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="all_insect_stings" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="all_insect_stings" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container column is-one-quarter">
                            <div class="field">
                                <label class="label has-text-centered">Medication or Drugs</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="all_medications_drugs" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="all_medications_drugs" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-centered">Plants</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="all_plants" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="all_plants" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container column is-one-quarter">
                            <div class="field">
                                <label class="label has-text-centered">Pollen</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="all_pollen" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="all_pollen" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <label class="label">If you answered yes to any of the above please explain:</label>
                    <textarea class="textarea" name="all_detail" placeholder="Allergies information"></textarea>
                </div>
                <div class="box">
                    <h2 class="title has-text-centered">Other Health Concerns, please select yes to those that apply.
                    </h2>
                    <div class="columns">
                        <div class="container column is-one-quarter">
                            <div class="field">
                                <label class="label has-text-centered">Bedwetting</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="ohc_bedwetting" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ohc_bedwetting" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-centered">Constipation</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="ohc_constipation" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ohc_constipation" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-centered">Emotional Disturbances</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="ohc_emotional_disturbance" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ohc_emotional_disturbance" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container column is-one-quarter">
                            <div class="field">
                                <label class="label has-text-centered">Fainting</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="ohc_fainting" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ohc_fainting" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-centered">Hearing Impairment</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="ohc_hearing_impairment" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ohc_hearing_impairment" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-centered">Menstrual Cramps</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="ohc_menstrual_cramps" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ohc_menstrual_cramps" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container column is-one-quarter">
                            <div class="field">
                                <label class="label has-text-centered">Motion Sickness</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="ohc_motion_sickness" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ohc_motion_sickness" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-centered">Nosebleeds</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="ohc_nosebleeds" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ohc_nosebleeds" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-centered">Sickle Cell Trait or Disease</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="ohc_sickle_cell" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ohc_sickle_cell" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container column is-one-quarter">
                            <div class="field">
                                <label class="label has-text-centered">Sleep Disturbances</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="ohc_sleep_disturbances" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ohc_sleep_disturbances" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-centered">Special Diet Regime</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="ohc_special_diet_regime" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ohc_special_diet_regime" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-centered">Wears Glasses or Contact Lens</label>
                                <div class="field-body">
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="ohc_vision_impairment" value="yes">
                                                Yes
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ohc_vision_impairment" value="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <label class="label">If you answered yes to any of the above please explain:</label>
                    <textarea class="textarea" name="ohc_detail"
                        placeholder="Other Health Concerns information"></textarea>
                </div>
            </div>


            {{#unless volunteer}}
            {{> medication/medications-block volunteer=false}}
            {{/unless}}

            {{#if volunteer}}
            {{> medication/medications-block volunteer=true}}
            {{/if}}
        </div>
        <div class="column is-1"></div>
    </div>

</form>