<section class="section">
  <div class="container">
    <div class="columns is-moblie">
      <div class="column is-half is-offset-one-fifth">
        <form action="/profile" method="post">
          <h1 class="title">
            Please enter your Email and Password below or register for a new Maple Valley
            account.
          </h1>
          <div class="field">
            <p class="control">
              <input class="input" type="email" name="username" placeholder="john@smith.com">
            </p>
          </div>
          <div class="field">
            <p class="control">
              <input class="input" type="password" name="password" placeholder="Password">
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button class="button">
                Login
              </button>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <p>
                Register for a <a href="/signup">Maple Valley Account</a> here.
              </p>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>