<div>
  {{> navbar/navbar}}
</div>
</br>
<div class="columns">
  <div class="column is-1"></div>
  <div class="box column">
    <div class="columns">
      <div class="column">
        <label class="label has-text-centered">Campers</label>
        <div class="columns">
          <div class="column is-2 is-offset-5">
            <div class="buttons is-centered">
              <a href="/grade/K" class="button is-primary" >Kinder</a>
              <a href="/grade/1" class="button is-link" >First Grade</a>
              <a href="/grade/2" class="button is-link" >Second Grade</a>
              <a href="/grade/3" class="button is-link" >Third Grade</a>
              <a href="/grade/4" class="button is-link" >Fourth Grade</a>
              <a href="/grade/5" class="button is-link" >Fifth Grade</a>
              <a href="/grade/6" class="button is-link" >Sixth Grade</a>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <label class="label has-text-centered">Volunteers</label>
        <div class="columns">
          <div class="column is-2 is-offset-5">
            <div class="buttons is-centered">
              <a href="/grade/7" class="button is-info">Seventh Grade</a>
              <a href="/grade/8" class="button is-info">Eight Grade</a>
              <a href="/grade/9" class="button is-info">Ninth Grade</a>
              <a href="/grade/10" class="button is-info">Tenth Grade</a>
              <a href="/grade/11" class="button is-info">Eleventh Grade</a>
              <a href="/grade/12" class="button is-info" >Twelfth Grade</a>
              <a href="/grade/volunteer" class="button is-dark" ="volunteer">Adult</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-1"></div>
</div>