
<div class="box">
<div class="columns">
  <div class="column">

    <div class="buttons are-large">
    <a href = "/grade/K" class="button is-primary is-fullwidth" data-grade = "K" >Kinder</a>
    <a href = "/grade/1" class="button is-link is-fullwidth"data-grade = "1">First Grade</a>
    <a href = "/grade/2" class="button is-link is-fullwidth"data-grade = "2">Second Grade</a>
    <a href = "/grade/3" class="button is-link is-fullwidth"data-grade = "3">Third Grade</a>
    <a href = "/grade/4" class="button is-link is-fullwidth"data-grade = "4">Fourth Grade</a>
    <a href = "/grade/5" class="button is-link is-fullwidth"data-grade = "5">Fifth Grade</a>
    <a href = "/grade/6" class="button is-link is-fullwidth"data-grade = "6">Sixth Grade</a>
    
    
    </div>
    
  </div>
  {{!-- <div class="column">
    <div class="buttons are-large are-fullwidth">
    <a href = "/grade/4" class="button is-warning is-fullwidth"data-grade = "4">Fourth Grade</a>
    <a href = "/grade/5" class="button is-danger is-fullwidth"data-grade = "5">Fifth Grade</a>
    <a href = "/grade/6" class="button is-primary is-fullwidth"data-grade = "6">Sixth Grade</a>
    <a href = "/grade/7" class="button is-link is-fullwidth"data-grade = "7">Seventh Grade</a>
    </div>
  </div> --}}
  <div class="column">
    <div class="buttons are-large">
    <a href = "/grade/7" class="button is-success is-fullwidth"data-grade = "7">Seventh Grade</a>
    <a href = "/grade/8" class="button is-success is-fullwidth"data-grade = "8">Eight Grade</a>
    <a href = "/grade/9" class="button is-success is-fullwidth"data-grade = "9">Ninth Grade</a>
    <a href = "/grade/10" class="button is-success is-fullwidth"data-grade = "10">Tenth Grade</a>
    <a href = "/grade/11" class="button is-success is-fullwidth"data-grade = "11">Eleventh Grade</a>
    <a href = "/grade/12" class="button is-success is-fullwidth"data-grade = "12">Twelfth Grade</a>
    <a href = "/grade/Adult" class="button is-dark is-fullwidth"data-grade = "Adult">Adult</a>
    </div>
  </div>
  {{!-- <div class="column">
    <div class="buttons are-large">
        <a href = "/grade/12" class="button is-grey is-fullwidth"data-grade = "12">Twelfth Grade</a>
        <a href = "/grade/Adult" class="button is-dark is-fullwidth"data-grade = "Adult">Adult</a>

    </div>
  </div> --}}

</div>


</div>

