</br>
<div class="columns">
  <div class="column is-1"></div>
  <div class="box column">
    <div class="columns">
      <div class="column">
        <label class="label has-text-centered">Campers</label>
        <div class="columns">
          <div class="column is-2 is-offset-5">
            <div class="buttons is-centered">
              <a href="/grade/K" class="button is-primary" data-grade="K">Kinder</a>
              <a href="/grade/1" class="button is-link" data-grade="1">First Grade</a>
              <a href="/grade/2" class="button is-info" data-grade="2">Second Grade</a>
              <a href="/grade/3" class="button is-success" data-grade="3">Third Grade</a>
              <a href="/grade/4" class="button is-warning" data-grade="4">Fourth Grade</a>
              <a href="/grade/5" class="button is-danger" data-grade="5">Fifth Grade</a>
              <a href="/grade/6" class="button is-primary" data-grade="6">Sixth Grade</a>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <label class="label has-text-centered">Volunteers</label>
        <div class="columns">
          <div class="column is-2 is-offset-5">
            <div class="buttons is-centered">
              <a href="/grade/7" class="button is-link" data-grade="7">Seventh Grade</a>
              <a href="/grade/8" class="button is-info" data-grade="8">Eight Grade</a>
              <a href="/grade/9" class="button is-success" data-grade="9">Ninth Grade</a>
              <a href="/grade/10" class="button is-warning" data-grade="10">Tenth Grade</a>
              <a href="/grade/11" class="button is-danger" data-grade="11">Eleventh Grade</a>
              <a href="/grade/12" class="button is-grey" data-grade="12">Twelfth Grade</a>
              <a href="/grade/Adult" class="button is-dark" data-grade="Adult">Adult</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-1"></div>
</div>