<link
      rel="stylesheet"
      href="questions.css"
    />
<div class="field">
    <label class="label">First Name</label>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="Jane">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </p>
        </div>
    </div>
    <label class="label">Last Name</label>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="Doe">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </p>
        </div>
    </div>
</div>

<div class="field">
    <label class="label">Phone Number</label>
    <div class="field-body">
        <div class="field is-expanded">
            <div class="field has-addons">
                <p class="control is-expanded">
                    <input class="input" type="tel" placeholder="(999) 999-9999">
                </p>
            </div>
        </div>
    </div>
</div>

<div class="field">
    <label class="label">Address</label>
    <div class="field-body">
        <div class="field is-expanded">
            <div class="field has-addons">
                <p class="control is-expanded">
                    <input class="input" type="text" placeholder="12345 Imaginary Rd">
                </p>
            </div>
        </div>
    </div>
</div>

<div class="field">
    <label class="label">City</label>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded">
                <input class="input" type="text" placeholder="Seattle">
            </p>
        </div>
    </div>
    <label class="label">State</label>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded">
                <input class="input" type="text" placeholder="Washington">
            </p>
        </div>
    </div>
    <label class="label">Zip Code</label>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded">
                <input class="input" type="text" placeholder="99999">
            </p>
        </div>
    </div>
</div>

<div class="field">
    <label class="label">Birth date</label>
    <div class="field-body">
        <div class="field is-narrow">
            <div class="control columns">
                <div class="select column is-fullwidth">
                    <select>
                        <option disabled selected hidden>Month</option>
                        <option>January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>May</option>
                        <option>June</option>
                        <option>July</option>
                        <option>August</option>
                        <option>September</option>
                        <option>October</option>
                        <option>November</option>
                        <option>December</option>
                    </select>
                </div>
                <div class="select column is-fullwidth">
                    <select>
                        <option disabled selected hidden>Day</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>9</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
                        <option>26</option>
                        <option>27</option>
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                        <option>31</option>
                    </select>
                </div>
                <div class="select column is-fullwidth">
                    <select>
                        <option disabled selected hidden>Year</option>
                        <option>2018</option>
                        <option>2017</option>
                        <option>2016</option>
                        <option>2015</option>
                        <option>2014</option>
                        <option>2013</option>
                        <option>2012</option>
                        <option>2011</option>
                        <option>2010</option>
                        <option>2009</option>
                        <option>2008</option>
                        <option>2007</option>
                        <option>2006</option>
                        <option>2005</option>
                        <option>2004</option>
                        <option>2003</option>
                        <option>2002</option>
                        <option>2001</option>
                        <option>2000</option>
                        <option>1999</option>
                        <option>1998</option>
                        <option>1997</option>
                        <option>1996</option>
                        <option>1995</option>
                        <option>1994</option>
                        <option>1993</option>
                        <option>1992</option>
                        <option>1991</option>
                        <option>1990</option>
                        <option>1989</option>
                        <option>1988</option>
                        <option>1987</option>
                        <option>1986</option>
                        <option>1985</option>
                        <option>1984</option>
                        <option>1983</option>
                        <option>1982</option>
                        <option>1981</option>
                        <option>1980</option>
                        <option>1979</option>
                        <option>1978</option>
                        <option>1977</option>
                        <option>1976</option>
                        <option>1975</option>
                        <option>1974</option>
                        <option>1973</option>
                        <option>1972</option>
                        <option>1971</option>
                        <option>1970</option>
                        <option>1969</option>
                        <option>1968</option>
                        <option>1967</option>
                        <option>1966</option>
                        <option>1965</option>
                        <option>1964</option>
                        <option>1963</option>
                        <option>1962</option>
                        <option>1961</option>
                        <option>1960</option>
                        <option>1959</option>
                        <option>1958</option>
                        <option>1957</option>
                        <option>1956</option>
                        <option>1955</option>
                        <option>1954</option>
                        <option>1953</option>
                        <option>1952</option>
                        <option>1951</option>
                        <option>1950</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="field">
    <div class="field-label">
        <label class="label">Will this be your first year at camp?</label>
    </div>
    <div class="field-body">
        <div class="field is-narrow">
            <div class="control">
                <label class="radio">
                    <input type="radio" name="member">
                    Yes
                </label>
                <label class="radio">
                    <input type="radio" name="member">
                    No
                </label>
            </div>
        </div>
    </div>
</div>


<div class="field">
    <label class="label">What is your shirt size?</label>
    <div class="field-body">
        <div class="field is-narrow">
            <div class="control columns">
                <div class="select column is-fullwidth">
                    <select>
                        <option>YS</option>
                        <option>YM</option>
                        <option>YL</option>
                        <option>AS</option>
                        <option>AM</option>
                        <option>AL</option>
                        <option>AXL</option>
                        <option>AXXL</option>
                        <option>AXXXL</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>