
    {{> navbar/navbar }}

<link rel="stylesheet" href="decider.css" />
</br>
<div class="columns">
    <div class="column is-1"></div>
    <div class="column">
        <div class="box">
            <div class="columns">
                <div class="column is-half">
                    <h2 class="title">
                        {{!-- quick info on volunteer. --}}
                        adult volunteers can complete their registration here.
                    </h2>
                    <a href="/registration?role=volunteer" class="button is-outlined">Volunteer</a>
                    <h2 class="title">
                        {{!-- quick info on camper volunteer. --}}
                        register your PA or LIT here.
                    </h2>
                    <a href="/registration?role=childVolunteer" class="button is-outlined">Camper Volunteer</a>

                </div>
                <div class="column is-half">
                    <h2 class="title">
                        {{!-- quick info on camper. --}}
                        register a camper in kindergarten through 6th grade here.
                    </h2>
                    <a href="/registration?role=participant" class="button is-outlined">Camper</a>
                    <h2 class="title">
                        {{!-- quick info on boy/cherub. --}}
                        adult volunteers may register boys or cherubs here.
                    </h2>
                    <a href="/registration?role=boy" class="button is-outlined">Boy/Cherub</a>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-1"></div>
</div>