<link
      rel="stylesheet"
      href="decider.css"
    />
<section class="section">
    <div class="container">
        <div class="columns is-moblie">
            <div class="column is-one-third">
                <h2 class="title">
                    quick info on volunteer.
                </h2>
                <a href="/registration?role=volunteer" class="button is-outlined">Volunteer</a>
            </div>
            <div class="column is-one-third">
                <h2 class="title">
                    quick info on camper volunteer.
                </h2>
                <a href="/registration?role=childVolunteer" class="button is-outlined">Camper Volunteer</a>
            </div>
            <div class="column is-one-third">
                <h2 class="title">
                    quick info on camper.
                </h2>
                <a href="/registration?role=participant" class="button is-outlined">Camper</a>
            </div>
            <div class="column is-one-third">
                <h2 class="title">
                    quick info on boy/cherub.
                </h2>
                <a href="/registration?role=boy" class="button is-outlined">Boy/Cherub</a>
            </div>
        </div>
    </div>
</section>