<section class="section">
    <div class="container">
        <div class="columns is-moblie">
            <div class="column is-one-third">
                <h2 class="title">
                    quick info on volunteer.
                </h2>
                <a href="/registration" class="button is-outlined">Volunteer</a>
            </div>
            <div class="column is-one-third">
                <h2 class="title">
                    quick info on camper volunteer.
                </h2>
                <a href="/registration" class="button is-outlined">Camper Volunteer</a>
            </div>
            <div class="column is-one-third">
                <h2 class="title">
                    quick info on camper.
                </h2>
                <a href="/registration" class="button is-outlined">Camper</a>
            </div>
        </div>
    </div>
</section>