{{#if volunteer}}
</br>
<h1>I AM VOLUNTEER</h1>
</br>


<div class="columns">
    <div class="column is-1"></div>
    <div class="column">
        <div class="field">
            <label class="label">Are you registered as a Girl Scout?</label>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="registered_girl_scout_yes">
                            Yes
                        </label>
                        <label class="radio">
                            <input type="radio" name="registered_girl_scout_no">
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="field columns">
    <div class="column is-1"></div>
    <div class="field-body column is-2">
        <label class="label">Troop Number</label>
        <div class="field">
            <p class="control is-expanded">
                <input class="input" name="troop_number" type="text" placeholder="Jane">
            </p>
        </div>
    </div>
    <div class="field-body column is-2">
        <label class="label">Service Unit</label>
        <div class="field">
            <p class="control is-expanded">
                <input class="input" name="service_unit_number" type="text" placeholder="Doe">
        </div>
    </div>
    <div class="column is-1"></div>
</div>

<div class="columns">
    <div class="column is-1"></div>
    <div class="column is-2">
        <div class="field">
            <label class="label">What is your Email address?</label>
        </div>
        <div class="control">
            <input class="input" name="adultEmail" type="email" placeholder="test@test.com">
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-1"></div>
    <div class="column">
        <div class="field">
            <label class="title label">Emergency Contact 1</label>
        </div>
        <div class="field columns">
            <div class="field-body column is-2">
                <label class="label">First Name</label>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" name="emergency_contact_1_first_name" type="text" placeholder="Jane">
                    </p>
                </div>
            </div>
            <div class="field-body column is-2">
                <label class="label">Last Name</label>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" name="emergency_contact_1_last_name" type="text" placeholder="Doe">
                </div>
            </div>
            <div class="column is-1"></div>
        </div>

        <div class="columns">
            <div class="field column is-2">
                <label class="label">Cell Number</label>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control is-expanded">
                                <input class="input" name="emergency_contact_1_phone" type="tel" placeholder="(999) 999-9999">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-7"></div>
        </div>
        <label class="label">Relationship</label>
        <div class="select">
            <select name="emergency_contact_1_relationship" >
                <option disabled selected hidden>Relationship</option>
                <option>Spouse</option>
                <option>Parent</option>
                <option>Grandparent</option>
                <option>Neighbor</option>
                <option>Family Friend</option>
            </select>
        </div>
    </div>
</div>
</div>

<div class="columns">
    <div class="column is-1"></div>
    <div class="column">
        <label class="label">Sweat Shirt Size</label>
        <div class="select">
            <select name="sweatshirt_size">
                <option disabled selected hidden>Sizes</option>
                <option>AS</option>
                <option>AM</option>
                <option>AL</option>
                <option>AXL</option>
                <option>AXXL</option>
                <option>AXXXL</option>
            </select>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-1"></div>
    <div class="column">
        <label class="label">Sweat Shirt Style</label>
        <div class="select">
            <select name="sweatshirt_style">
                <option disabled selected hidden>Styles</option>
                <option>Hoodie</option>
                <option>Hoodie with Name</option>
                <option>Zip-up</option>
                <option>Zip-up with Name</option>
            </select>
        </div>
    </div>
</div>


{{/if}}

{{#if childVolunteer}}

</br>
<h1>I AM CHILD VOLUNTEER</h1>
</br>

<div class="columns">
    <div class="column is-1"></div>
    <div class="column">
        <div class="field">
            <label class="label">Are you registered as a Girl Scout?</label>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="registered_girl_scout_yes">
                            Yes
                        </label>
                        <label class="radio">
                            <input type="radio" name="registered_girl_scout_no">
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="field columns">
    <div class="column is-1"></div>
    <div class="field-body column is-2">
        <label class="label">Troop Number</label>
        <div class="field">
            <p class="control is-expanded">
                <input class="input" name="troop_number" type="text" placeholder="Jane">
            </p>
        </div>
    </div>
    <div class="field-body column is-2">
        <label class="label">Service Unit</label>
        <div class="field">
            <p class="control is-expanded">
                <input class="input" name="service_unit_number" type="text" placeholder="Doe">
        </div>
    </div>
    <div class="column is-1"></div>
</div>

<div class="field columns">
    <div class="column is-1"></div>
    <div class="field-body column is-2">
        <label class="label">Guardian First Name</label>
        <div class="field">
            <p class="control is-expanded">
                <input class="input" name="guardian_first_name" type="text" placeholder="Jane">
            </p>
        </div>
    </div>
    <div class="field-body column is-2">
        <label class="label">Guardian Last Name</label>
        <div class="field">
            <p class="control is-expanded">
                <input class="input" name="guardian_last_name" type="text" placeholder="Doe">
        </div>
    </div>
    <div class="column is-1"></div>
</div>

<div class="columns">
    <div class="column is-1"></div>
    <div class="field column is-2">
        <label class="label">Guardian Cell Number</label>
        <div class="field-body">
            <div class="field is-expanded">
                <div class="field has-addons">
                    <p class="control is-expanded">
                        <input class="input" name="phone_guardian" type="tel" placeholder="(999) 999-9999">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-1"></div>
    <div class="column is-2">
        <div class="field">
            <label class="label">What is your Email address?</label>
        </div>
        <div class="control">
            <input class="input" name="adultEmail" type="email" placeholder="test@test.com">
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-1"></div>
    <div class="column is-2">
        <div class="field">
            <label class="label">What is your the campers Email address?</label>
        </div>
        <div class="control">
            <input class="input" name="minorEmail" type="email" placeholder="test@test.com">
        </div>
    </div>
</div>


<div class="columns">
    <div class="column is-1"></div>
    <div class="column">
        <div class="field">
            <label class="title label">Emergency Contact 1</label>
        </div>
        <div class="field columns">
            <div class="field-body column is-2">
                <label class="label">First Name</label>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" name="emergency_contact_1_first_name" type="text" placeholder="Jane">
                    </p>
                </div>
            </div>
            <div class="field-body column is-2">
                <label class="label">Last Name</label>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" name="emergency_contact_1_last_name" type="text" placeholder="Doe">
                </div>
            </div>
            <div class="column is-1"></div>
        </div>

        <div class="columns">
            <div class="field column is-2">
                <label class="label">Cell Number</label>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control is-expanded">
                                <input class="input" name="emergency_contact_1_phone" type="tel" placeholder="(999) 999-9999">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-7"></div>
        </div>
        <label class="label">Relationship</label>
        <div class="select">
            <select name="emergency_contact_1_relationship" >
                <option disabled selected hidden>Relationship</option>
                <option>Spouse</option>
                <option>Parent</option>
                <option>Grandparent</option>
                <option>Neighbor</option>
                <option>Family Friend</option>
            </select>
        </div>
    </div>
</div>

</br>
</br>

<div class="columns">
    <div class="column is-1"></div>
    <div class="column">
        <div class="field">
            <label class="title label">Emergency Contact 2</label>
        </div>
        <div class="field columns">
            <div class="field-body column is-2">
                <label class="label">First Name</label>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" name="emergency_contact_2_first_name" type="text" placeholder="Jane">
                    </p>
                </div>
            </div>
            <div class="field-body column is-2">
                <label class="label">Last Name</label>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" name="emergency_contact_2_last_name" type="text" placeholder="Doe">
                </div>
            </div>
            <div class="column is-1"></div>
        </div>

        <div class="columns">
            <div class="field column is-2">
                <label class="label">Cell Number</label>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control is-expanded">
                                <input class="input" name="emergency_contact_2_phone" type="tel" placeholder="(999) 999-9999">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-7"></div>
        </div>
        <label class="label">Relationship</label>
        <div class="select">
            <select name="emergency_contact_2_relationship" >
                <option disabled selected hidden>Relationship</option>
                <option>Spouse</option>
                <option>Parent</option>
                <option>Grandparent</option>
                <option>Neighbor</option>
                <option>Family Friend</option>
            </select>
        </div>
    </div>
</div>

</br>

<div class="columns">
    <div class="column is-1"></div>
    <div class="column">
        <label class="label">Sweat Shirt Size</label>
        <div class="select">
            <select name="sweatshirt_size">
                <option disabled selected hidden>Sizes</option>
                <option>AS</option>
                <option>AM</option>
                <option>AL</option>
                <option>AXL</option>
                <option>AXXL</option>
                <option>AXXXL</option>
            </select>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-1"></div>
    <div class="column">
        <label class="label"Sweat Shirt Style</label>
        <div class="select">
            <select name="sweatshirt_style">
                <option disabled selected hidden>Styles</option>
                <option>Hoodie</option>
                <option>Hoodie with Name</option>
                <option>Zip-up</option>
                <option>Zip-up with Name</option>
            </select>
        </div>
    </div>
</div>

{{/if}}



{{#if participant}}

</br>
<h1>I AM Participant</h1>
</br>

<div class="columns">
    <div class="column is-1"></div>
    <div class="column">
        <div class="field">
            <label class="label">Are you registered as a Girl Scout?</label>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="registered_girl_scout_yes">
                            Yes
                        </label>
                        <label class="radio">
                            <input type="radio" name="registered_girl_scout_no">
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="field columns">
    <div class="column is-1"></div>
    <div class="field-body column is-2">
        <label class="label">Troop Number</label>
        <div class="field">
            <p class="control is-expanded">
                <input class="input" name="troop_number" type="text" placeholder="Jane">
            </p>
        </div>
    </div>
    <div class="field-body column is-2">
        <label class="label">Service Unit</label>
        <div class="field">
            <p class="control is-expanded">
                <input class="input" name="service_unit_number" type="text" placeholder="Doe">
        </div>
    </div>
    <div class="column is-1"></div>
</div>

<div class="field">
    <div class="columns">
        <div class="column is-1"></div>
        <div class="column is-2">
            <label class="label">Is there a friend you would like to be in a group with?</label>
        </div>
    </div>
    <div class="field columns">
        <div class="column is-1"></div>
        <div class="field-body column is-2">
            <label class="label">First Name</label>
            <div class="field">
                <p class="control is-expanded">
                    <input class="input" name="buddy_first_name" type="text" placeholder="Jane">
                </p>
            </div>
        </div>
        <div class="field-body column is-2">
            <label class="label">Last Name</label>
            <div class="field">
                <p class="control is-expanded">
                    <input class="input" name="buddy_last_name" type="text" placeholder="Doe">
            </div>
        </div>
        <div class="column is-1"></div>
    </div>
</div>

</br>

<div class="field columns">
    <div class="column is-1"></div>
    <div class="field-body column is-2">
        <label class="label">Guardian First Name</label>
        <div class="field">
            <p class="control is-expanded">
                <input class="input" name="guardian_first_name" type="text" placeholder="Jane">
            </p>
        </div>
    </div>
    <div class="field-body column is-2">
        <label class="label">Guardian Last Name</label>
        <div class="field">
            <p class="control is-expanded">
                <input class="input" name="guardian_last_name" type="text" placeholder="Doe">
        </div>
    </div>
    <div class="column is-1"></div>
</div>

<div class="columns">
    <div class="column is-1"></div>
    <div class="field column is-2">
        <label class="label">Guardian Cell Number</label>
        <div class="field-body">
            <div class="field is-expanded">
                <div class="field has-addons">
                    <p class="control is-expanded">
                        <input class="input" name="phone_guardian" type="tel" placeholder="(999) 999-9999">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-1"></div>
    <div class="column is-2">
        <div class="field">
            <label class="label">What is your Email address?</label>
        </div>
        <div class="control">
            <input class="input" name="adultEmail" type="email" placeholder="test@test.com">
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-1"></div>
    <div class="column is-2">
        <div class="field">
            <label class="label">What is your the campers Email address?</label>
        </div>
        <div class="control">
            <input class="input" name="minorEmail" type="email" placeholder="test@test.com">
        </div>
    </div>
</div>


<div class="columns">
    <div class="column is-1"></div>
    <div class="column">
        <div class="field">
            <label class="title label">Emergency Contact 1</label>
        </div>
        <div class="field columns">
            <div class="field-body column is-2">
                <label class="label">First Name</label>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" name="emergency_contact_1_first_name" type="text" placeholder="Jane">
                    </p>
                </div>
            </div>
            <div class="field-body column is-2">
                <label class="label">Last Name</label>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" name="emergency_contact_1_last_name" type="text" placeholder="Doe">
                </div>
            </div>
            <div class="column is-1"></div>
        </div>

        <div class="columns">
            <div class="field column is-2">
                <label class="label">Cell Number</label>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control is-expanded">
                                <input class="input" name="emergency_contact_1_phone" type="tel" placeholder="(999) 999-9999">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-7"></div>
        </div>
        <label class="label">Relationship</label>
        <div class="select">
            <select name="emergency_contact_1_relationship" >
                <option disabled selected hidden>Relationship</option>
                <option>Spouse</option>
                <option>Parent</option>
                <option>Grandparent</option>
                <option>Neighbor</option>
                <option>Family Friend</option>
            </select>
        </div>
    </div>
</div>

</br>
</br>

<div class="columns">
    <div class="column is-1"></div>
    <div class="column">
        <div class="field">
            <label class="title label">Emergency Contact 2</label>
        </div>
        <div class="field columns">
            <div class="field-body column is-2">
                <label class="label">First Name</label>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" name="emergency_contact_2_first_name" type="text" placeholder="Jane">
                    </p>
                </div>
            </div>
            <div class="field-body column is-2">
                <label class="label">Last Name</label>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" name="emergency_contact_2_last_name" type="text" placeholder="Doe">
                </div>
            </div>
            <div class="column is-1"></div>
        </div>

        <div class="columns">
            <div class="field column is-2">
                <label class="label">Cell Number</label>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control is-expanded">
                                <input class="input" name="emergency_contact_2_phone" type="tel" placeholder="(999) 999-9999">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-7"></div>
        </div>
        <label class="label">Relationship</label>
        <div class="select">
            <select name="emergency_contact_2_relationship" >
                <option disabled selected hidden>Relationship</option>
                <option>Spouse</option>
                <option>Parent</option>
                <option>Grandparent</option>
                <option>Neighbor</option>
                <option>Family Friend</option>
            </select>
        </div>
    </div>
</div>

{{/if}}

</br>
{{#if boy}}
</br>

<h1>I AM BOY HEAR ME ROAR!</h1>

<div class="field columns">
    <div class="column is-1"></div>
    <div class="field-body column is-2">
        <label class="label">Guardian First Name</label>
        <div class="field">
            <p class="control is-expanded">
                <input class="input" name="guardian_first_name" type="text" placeholder="Jane">
            </p>
        </div>
    </div>
    <div class="field-body column is-2">
        <label class="label">Guardian Last Name</label>
        <div class="field">
            <p class="control is-expanded">
                <input class="input" name="guardian_last_name" type="text" placeholder="Doe">
        </div>
    </div>
    <div class="column is-1"></div>
</div>

<div class="columns">
    <div class="column is-1"></div>
    <div class="field column is-2">
        <label class="label">Guardian Cell Number</label>
        <div class="field-body">
            <div class="field is-expanded">
                <div class="field has-addons">
                    <p class="control is-expanded">
                        <input class="input" name="phone_guardian" type="tel" placeholder="(999) 999-9999">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-1"></div>
    <div class="column is-2">
        <div class="field">
            <label class="label">Guardian Email address?</label>
        </div>
        <div class="control">
            <input class="input" name="adultEmail" type="email" placeholder="test@test.com">
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-1"></div>
    <div class="column">
        <div class="field">
            <label class="title label">Emergency Contact 1</label>
        </div>
        <div class="field columns">
            <div class="field-body column is-2">
                <label class="label">First Name</label>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" name="emergency_contact_1_first_name" type="text" placeholder="Jane">
                    </p>
                </div>
            </div>
            <div class="field-body column is-2">
                <label class="label">Last Name</label>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" name="emergency_contact_1_last_name" type="text" placeholder="Doe">
                </div>
            </div>
            <div class="column is-1"></div>
        </div>

        <div class="columns">
            <div class="field column is-2">
                <label class="label">Cell Number</label>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control is-expanded">
                                <input class="input" name="emergency_contact_1_phone" type="tel" placeholder="(999) 999-9999">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-7"></div>
        </div>
        <label class="label">Relationship</label>
        <div class="select">
            <select name="emergency_contact_1_relationship" >
                <option disabled selected hidden>Relationship</option>
                <option>Spouse</option>
                <option>Parent</option>
                <option>Grandparent</option>
                <option>Neighbor</option>
                <option>Family Friend</option>
            </select>
        </div>
    </div>
</div>
</div>

<div class="columns">
    <div class="column is-1"></div>
    <div class="column">
        <div class="field">
            <label class="title label">Emergency Contact 2</label>
        </div>
        <div class="field columns">
            <div class="field-body column is-2">
                <label class="label">First Name</label>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" name="emergency_contact_2_first_name" type="text" placeholder="Jane">
                    </p>
                </div>
            </div>
            <div class="field-body column is-2">
                <label class="label">Last Name</label>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" name="emergency_contact_2_last_name" type="text" placeholder="Doe">
                </div>
            </div>
            <div class="column is-1"></div>
        </div>

        <div class="columns">
            <div class="field column is-2">
                <label class="label">Cell Number</label>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control is-expanded">
                                <input class="input" name="emergency_contact_2_phone" type="tel" placeholder="(999) 999-9999">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-7"></div>
        </div>
        <label class="label">Relationship</label>
        <div class="select">
            <select name="emergency_contact_2_relationship" >
                <option disabled selected hidden>Relationship</option>
                <option>Spouse</option>
                <option>Parent</option>
                <option>Grandparent</option>
                <option>Neighbor</option>
                <option>Family Friend</option>
            </select>
        </div>
    </div>
</div>
</div>

{{/if}}