{{#if volunteer}}

<div class="box">
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Are you registered as a Girl Scout?</label>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="registered_girl_scout" value="yes">
                                Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="registered_girl_scout" value="no">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field columns">
        <div class="field-body column is-2">
            <label class="label">Troop Number</label>
            <div class="field">
                <p class="control is-expanded">
                    <input class="input" name="troop_number" type="text" placeholder="49999">
                </p>
            </div>
        </div>
        <div class="field-body column is-2">
            <label class="label">Service Unit</label>
            <div class="field">
                <p class="control is-expanded">
                    <input class="input" name="service_unit_number" type="text" placeholder="024">
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="field columns">
        <div class="field-body column is-2">
            <div class="">
                <label class="label">What is your Email address?</label>
            </div>
            <div class="field">
                <div class="control is-expanded">
                    <input class="input" name="adultEmail" type="email" placeholder="test@test.com">
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="title label">Emergency Contact 1</label>
            </div>
            <div class="field columns">
                <div class="field-body column is-2">
                    <label class="label">First Name</label>
                    <div class="field">
                        <p class="control is-expanded">
                            <input class="input" name="emergency_contact_1_first_name" type="text" placeholder="Jane">
                        </p>
                    </div>
                </div>
                <div class="field-body column is-2">
                    <label class="label">Last Name</label>
                    <div class="field">
                        <p class="control is-expanded">
                            <input class="input" name="emergency_contact_1_last_name" type="text" placeholder="Doe">
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="field column is-2">
                    <label class="label">Cell Number</label>
                    <div class="field-body">
                        <div class="field is-expanded">
                            <div class="field has-addons">
                                <p class="control is-expanded">
                                    <input class="input" name="emergency_contact_1_phone" type="tel"
                                        placeholder="(999) 999-9999">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-7"></div>
            </div>
            <label class="label">Relationship</label>
            <div class="select">
                <select name="emergency_contact_1_relationship">
                    <option disabled selected hidden>Relationship</option>
                    <option>Spouse</option>
                    <option>Parent</option>
                    <option>Grandparent</option>
                    <option>Neighbor</option>
                    <option>Family Friend</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="columns">
        <div class="column">
            <label class="label">Sweat Shirt</label>
            <div class="select">
                <select name="sweatshirt_size">
                    <option disabled selected hidden>Sizes</option>
                    <option>AS</option>
                    <option>AM</option>
                    <option>AL</option>
                    <option>AXL</option>
                    <option>AXXL</option>
                    <option>AXXXL</option>
                </select>
            </div>
            <div class="select">
                <select name="sweatshirt_style">
                    <option disabled selected hidden>Styles</option>
                    <option>Hoodie</option>
                    <option>Hoodie with Name</option>
                    <option>Zip-up</option>
                    <option>Zip-up with Name</option>
                </select>
            </div>
        </div>
    </div>
</div>

{{/if}}

{{#if childVolunteer}}

<div class="box">
    <div class="columns">
        <div class="column">
            <label class="label">What grade are you going into in the Fall?</label>
            <div class="select">
                <select name="grade_in_school">
                    <option disabled selected hidden>Grade</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Are you registered as a Girl Scout?</label>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="registered_girl_scout" value="yes">
                                Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="registered_girl_scout" value="no">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field columns">
        <div class="field-body column is-2">
            <label class="label">Troop Number</label>
            <div class="field">
                <p class="control is-expanded">
                    <input class="input" name="troop_number" type="text" placeholder="49999">
                </p>
            </div>
        </div>
        <div class="field-body column is-2">
            <label class="label">Service Unit</label>
            <div class="field">
                <p class="control is-expanded">
                    <input class="input" name="service_unit_number" type="text" placeholder="024">
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="field columns">
        <div class="field-body column is-2">
            <label class="label">Guardian First Name</label>
            <div class="field">
                <p class="control is-expanded">
                    <input class="input" name="guardian_first_name" type="text" placeholder="Jane">
                </p>
            </div>
        </div>
        <div class="field-body column is-2">
            <label class="label">Guardian Last Name</label>
            <div class="field">
                <p class="control is-expanded">
                    <input class="input" name="guardian_last_name" type="text" placeholder="Doe">
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="field column is-2">
            <label class="label">Guardian Cell Number</label>
            <div class="field-body">
                <div class="field is-expanded">
                    <div class="field has-addons">
                        <p class="control is-expanded">
                            <input class="input" name="phone_guardian" type="tel" placeholder="(999) 999-9999">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-2">
            <div class="field">
                <label class="label">What is your Email address?</label>
            </div>
            <div class="control">
                <input class="input" name="adultEmail" type="email" placeholder="test@test.com">
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-2">
            <div class="field">
                <label class="label">What is your the campers Email address?</label>
            </div>
            <div class="control">
                <input class="input" name="minorEmail" type="email" placeholder="test@test.com">
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="title label">Emergency Contact 1</label>
            </div>
            <div class="field columns">
                <div class="field-body column is-2">
                    <label class="label">First Name</label>
                    <div class="field">
                        <p class="control is-expanded">
                            <input class="input" name="emergency_contact_1_first_name" type="text" placeholder="Jane">
                        </p>
                    </div>
                </div>
                <div class="field-body column is-2">
                    <label class="label">Last Name</label>
                    <div class="field">
                        <p class="control is-expanded">
                            <input class="input" name="emergency_contact_1_last_name" type="text" placeholder="Doe">
                    </div>
                </div>
                <div class="column is-1"></div>
            </div>
            <div class="columns">
                <div class="field column is-2">
                    <label class="label">Cell Number</label>
                    <div class="field-body">
                        <div class="field is-expanded">
                            <div class="field has-addons">
                                <p class="control is-expanded">
                                    <input class="input" name="emergency_contact_1_phone" type="tel"
                                        placeholder="(999) 999-9999">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-7"></div>
            </div>
            <label class="label">Relationship</label>
            <div class="select">
                <select name="emergency_contact_1_relationship">
                    <option disabled selected hidden>Relationship</option>
                    <option>Spouse</option>
                    <option>Parent</option>
                    <option>Grandparent</option>
                    <option>Neighbor</option>
                    <option>Family Friend</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="title label">Emergency Contact 2</label>
            </div>
            <div class="field columns">
                <div class="field-body column is-2">
                    <label class="label">First Name</label>
                    <div class="field">
                        <p class="control is-expanded">
                            <input class="input" name="emergency_contact_2_first_name" type="text" placeholder="Jane">
                        </p>
                    </div>
                </div>
                <div class="field-body column is-2">
                    <label class="label">Last Name</label>
                    <div class="field">
                        <p class="control is-expanded">
                            <input class="input" name="emergency_contact_2_last_name" type="text" placeholder="Doe">
                    </div>
                </div>
                <div class="column is-1"></div>
            </div>
            <div class="columns">
                <div class="field column is-2">
                    <label class="label">Cell Number</label>
                    <div class="field-body">
                        <div class="field is-expanded">
                            <div class="field has-addons">
                                <p class="control is-expanded">
                                    <input class="input" name="emergency_contact_2_phone" type="tel"
                                        placeholder="(999) 999-9999">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-7"></div>
            </div>
            <label class="label">Relationship</label>
            <div class="select">
                <select name="emergency_contact_2_relationship">
                    <option disabled selected hidden>Relationship</option>
                    <option>Spouse</option>
                    <option>Parent</option>
                    <option>Grandparent</option>
                    <option>Neighbor</option>
                    <option>Family Friend</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="columns">
        <div class="column">
            <label class="label">Sweat Shirt</label>
            <div class="select">
                <select name="sweatshirt_size">
                    <option disabled selected hidden>Sizes</option>
                    <option>AS</option>
                    <option>AM</option>
                    <option>AL</option>
                    <option>AXL</option>
                    <option>AXXL</option>
                    <option>AXXXL</option>
                </select>
            </div>
            <div class="select">
                <select name="sweatshirt_style">
                    <option disabled selected hidden>Styles</option>
                    <option>Hoodie</option>
                    <option>Hoodie with Name</option>
                    <option>Zip-up</option>
                    <option>Zip-up with Name</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Are you interested in being a volunteer?</label>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="contact_for_volunteer" value="yes">
                                Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="contact_for_volunteer" value="no">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{/if}}



{{#if participant}}

<div class="box">
    <div class="columns">
        <div class="column">
            <label class="label">What grade are you going into in the Fall?</label>
            <div class="select">
                <select name="grade_in_school">
                    <option disabled selected hidden>Grade</option>
                    <option>K</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Are you registered as a Girl Scout?</label>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="registered_girl_scout" value="yes">
                                Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="registered_girl_scout" value="no">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field columns">
        <div class="field-body column is-2">
            <label class="label">Troop Number</label>
            <div class="field">
                <p class="control is-expanded">
                    <input class="input" name="troop_number" type="text" placeholder="49999">
                </p>
            </div>
        </div>
        <div class="field-body column is-2">
            <label class="label">Service Unit</label>
            <div class="field">
                <p class="control is-expanded">
                    <input class="input" name="service_unit_number" type="text" placeholder="024">
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="field columns">
        <div class="field-body column is-2">
            <label class="label">Guardian First Name</label>
            <div class="field">
                <p class="control is-expanded">
                    <input class="input" name="guardian_first_name" type="text" placeholder="Jane">
                </p>
            </div>
        </div>
        <div class="field-body column is-2">
            <label class="label">Guardian Last Name</label>
            <div class="field">
                <p class="control is-expanded">
                    <input class="input" name="guardian_last_name" type="text" placeholder="Doe">
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="field column is-2">
            <label class="label">Guardian Cell Number</label>
            <div class="field-body">
                <div class="field is-expanded">
                    <div class="field has-addons">
                        <p class="control is-expanded">
                            <input class="input" name="phone_guardian" type="tel" placeholder="(999) 999-9999">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-2">
            <div class="field">
                <label class="label">What is your Email address?</label>
            </div>
            <div class="control">
                <input class="input" name="adultEmail" type="email" placeholder="test@test.com">
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-2">
            <div class="field">
                <label class="label">What is your the campers Email address?</label>
            </div>
            <div class="control">
                <input class="input" name="minorEmail" type="email" placeholder="test@test.com">
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="title label">Emergency Contact 1</label>
            </div>
            <div class="field columns">
                <div class="field-body column is-2">
                    <label class="label">First Name</label>
                    <div class="field">
                        <p class="control is-expanded">
                            <input class="input" name="emergency_contact_1_first_name" type="text" placeholder="Jane">
                        </p>
                    </div>
                </div>
                <div class="field-body column is-2">
                    <label class="label">Last Name</label>
                    <div class="field">
                        <p class="control is-expanded">
                            <input class="input" name="emergency_contact_1_last_name" type="text" placeholder="Doe">
                    </div>
                </div>
                <div class="column is-1"></div>
            </div>
            <div class="columns">
                <div class="field column is-2">
                    <label class="label">Cell Number</label>
                    <div class="field-body">
                        <div class="field is-expanded">
                            <div class="field has-addons">
                                <p class="control is-expanded">
                                    <input class="input" name="emergency_contact_1_phone" type="tel"
                                        placeholder="(999) 999-9999">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-7"></div>
            </div>
            <label class="label">Relationship</label>
            <div class="select">
                <select name="emergency_contact_1_relationship">
                    <option disabled selected hidden>Relationship</option>
                    <option>Spouse</option>
                    <option>Parent</option>
                    <option>Grandparent</option>
                    <option>Neighbor</option>
                    <option>Family Friend</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="title label">Emergency Contact 2</label>
            </div>
            <div class="field columns">
                <div class="field-body column is-2">
                    <label class="label">First Name</label>
                    <div class="field">
                        <p class="control is-expanded">
                            <input class="input" name="emergency_contact_2_first_name" type="text" placeholder="Jane">
                        </p>
                    </div>
                </div>
                <div class="field-body column is-2">
                    <label class="label">Last Name</label>
                    <div class="field">
                        <p class="control is-expanded">
                            <input class="input" name="emergency_contact_2_last_name" type="text" placeholder="Doe">
                    </div>
                </div>
                <div class="column is-1"></div>
            </div>
            <div class="columns">
                <div class="field column is-2">
                    <label class="label">Cell Number</label>
                    <div class="field-body">
                        <div class="field is-expanded">
                            <div class="field has-addons">
                                <p class="control is-expanded">
                                    <input class="input" name="emergency_contact_2_phone" type="tel"
                                        placeholder="(999) 999-9999">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-7"></div>
            </div>
            <label class="label">Relationship</label>
            <div class="select">
                <select name="emergency_contact_2_relationship">
                    <option disabled selected hidden>Relationship</option>
                    <option>Spouse</option>
                    <option>Parent</option>
                    <option>Grandparent</option>
                    <option>Neighbor</option>
                    <option>Family Friend</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Are you interested in being a volunteer?</label>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="contact_for_volunteer" value="yes">
                                Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="contact_for_volunteer" value="no">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/if}}

{{#if boy}}

<div class="box">
    <div class="field columns">
        <div class="field-body column is-2">
            <label class="label">Guardian First Name</label>
            <div class="field">
                <p class="control is-expanded">
                    <input class="input" name="guardian_first_name" type="text" placeholder="Jane">
                </p>
            </div>
        </div>
        <div class="field-body column is-2">
            <label class="label">Guardian Last Name</label>
            <div class="field">
                <p class="control is-expanded">
                    <input class="input" name="guardian_last_name" type="text" placeholder="Doe">
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="field column is-2">
            <label class="label">Guardian Cell Number</label>
            <div class="field-body">
                <div class="field is-expanded">
                    <div class="field has-addons">
                        <p class="control is-expanded">
                            <input class="input" name="phone_guardian" type="tel" placeholder="(999) 999-9999">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-2">
            <div class="field">
                <label class="label">What is your Email address?</label>
            </div>
            <div class="control">
                <input class="input" name="adultEmail" type="email" placeholder="test@test.com">
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="title label">Emergency Contact 1</label>
            </div>
            <div class="field columns">
                <div class="field-body column is-2">
                    <label class="label">First Name</label>
                    <div class="field">
                        <p class="control is-expanded">
                            <input class="input" name="emergency_contact_1_first_name" type="text" placeholder="Jane">
                        </p>
                    </div>
                </div>
                <div class="field-body column is-2">
                    <label class="label">Last Name</label>
                    <div class="field">
                        <p class="control is-expanded">
                            <input class="input" name="emergency_contact_1_last_name" type="text" placeholder="Doe">
                    </div>
                </div>
                <div class="column is-1"></div>
            </div>
            <div class="columns">
                <div class="field column is-2">
                    <label class="label">Cell Number</label>
                    <div class="field-body">
                        <div class="field is-expanded">
                            <div class="field has-addons">
                                <p class="control is-expanded">
                                    <input class="input" name="emergency_contact_1_phone" type="tel"
                                        placeholder="(999) 999-9999">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-7"></div>
            </div>
            <label class="label">Relationship</label>
            <div class="select">
                <select name="emergency_contact_1_relationship">
                    <option disabled selected hidden>Relationship</option>
                    <option>Spouse</option>
                    <option>Parent</option>
                    <option>Grandparent</option>
                    <option>Neighbor</option>
                    <option>Family Friend</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="title label">Emergency Contact 2</label>
            </div>
            <div class="field columns">
                <div class="field-body column is-2">
                    <label class="label">First Name</label>
                    <div class="field">
                        <p class="control is-expanded">
                            <input class="input" name="emergency_contact_2_first_name" type="text" placeholder="Jane">
                        </p>
                    </div>
                </div>
                <div class="field-body column is-2">
                    <label class="label">Last Name</label>
                    <div class="field">
                        <p class="control is-expanded">
                            <input class="input" name="emergency_contact_2_last_name" type="text" placeholder="Doe">
                    </div>
                </div>
                <div class="column is-1"></div>
            </div>
            <div class="columns">
                <div class="field column is-2">
                    <label class="label">Cell Number</label>
                    <div class="field-body">
                        <div class="field is-expanded">
                            <div class="field has-addons">
                                <p class="control is-expanded">
                                    <input class="input" name="emergency_contact_2_phone" type="tel"
                                        placeholder="(999) 999-9999">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-7"></div>
            </div>
            <label class="label">Relationship</label>
            <div class="select">
                <select name="emergency_contact_2_relationship">
                    <option disabled selected hidden>Relationship</option>
                    <option>Spouse</option>
                    <option>Parent</option>
                    <option>Grandparent</option>
                    <option>Neighbor</option>
                    <option>Family Friend</option>
                </select>
            </div>
        </div>
    </div>
</div>

{{/if}}

<div class="field">
    <p class="control">
        <button class="button">
            Next
        </button>
    </p>
</div>